node_modules/
dist/
.turbo/
.env
.env.local
apps/api/.env
apps/web/.env
*.log
.DS_Store
apps/api/prisma/migrations/
coverage/
*.remote-backup
apps/api/.local-storage/
apps/mobile/.env

# Next.js
apps/web/.next/
